{% load i18n %}
{% load static %}
{% load thumbnail %}

<div class="modal fade" id="modal_form_{{ obj.id }}" tabindex="-1" role="dialog"
     aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_{{ obj.id }}">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label={% trans "Close" %}>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="" id="">
                    <div class="">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body" id="datashow">
                                    <div class="row marl no-gutters">
                                        {% slot "body" %} {% endslot %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>