<progress id="progress-bar" class="htmx-indicator" style="height: 3px; width: 100%;" aria-label="Content loading…"></progress>
{#<progress id="loader" class="htmx-indicator" max="100" value="70"></progress>#}

{#<div class="progress">#}
{#    <progress class="loader htmx-indicator progress-bar" role="progressbar" style="height: 3px; width: 100%;" aria-valuemin="0" aria-valuemax="100"></progress>#}
{#</div>#}

{#<progress class="loader htmx-indicator"></progress>#}
{#<div class="progress" style="height: 3px;">#}
{#  <div class="loader htmx-indicator progress-bar" role="progressbar" style="width: 100%;" aria-valuemin="0" aria-valuemax="100"></div>#}
{#</div>#}
{#<progress class="loader htmx-indicator" style="height: 3px; width: 100%; background-color: blue;">#}
{#      <div class="indeterminate" style="background-color: blue;"></div>#}
{#</progress>#}