<div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="{{ id }}" action="" method="POST">
                    <div class="card-body ">
                        <div class="card-title">{{ label }}</div>
                        <div class="row marl">
                            <div class="filter_col col-md-2">
                                {% component "input" id="team_name" type="text" name="team_name" placeholder="Team Name" label="Team Name" value=request.POST.team_name|default_if_none:"" %}
                            </div>
                            <div class="filter_col col-md-2">
                                {% component "select-created-by" label="Created By" id="created_by" %}
                            </div>
                            <div class="filter_col col-md-2">
                                {% component "select-assigned-to" label="Assigned Users" id="assigned_to" %}
                            </div>
                            <div class="filter_col col-2">
                                <div class="form-group buttons_row">
                                    {% component 'btn-submit' %}
                                    {% component 'btn-clear' href='teams:teams_list' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

