{% load i18n %}
{% load static %}
{% load thumbnail %}

{% with users=users.all %}
    {% for user in users %}
        {% if user.profile_pic %}
            {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                <a href="{% url href user.id %}">
                    <img src="{{ im.url }}" width="{{ im.width }}"
                         height="{{ im.height }}"
                         title="{{ user.email }}">
                </a>
            {% endthumbnail %}
        {% else %}
            <a href="{% url href user.id %}">
                <img src="{% static 'images/user.png' %}"
                     title="{{ user.email }}" width="40"
                     height="40">
            </a>
        {% endif %}
    {% empty %}
        {% trans 'None' %}
    {% endfor %}
{% endwith %}
