{% load static %}
{% load paginate %}
{% load thumbnail %}

<div class="main_container">

  <div class="row marl">
    <div class="col-lg-12 text-right">
      <span class="d-inline"><a class="primary_btn" href="{% url 'invoices:invoices_create'%}"><i
            class="fa fa-plus"></i>
          Add New
          Invoice</a></span>
    </div>
  </div>

  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form id="leads_filter" action="" method="POST">
            <div class="card-body ">
              <div class="card-title">Filters</div>
              <div class="row marl">
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Invoice Title or Number</label>
                    <input type="text" class="form-control" placeholder="Invoice Title or Number"
                      name="invoice_title_number" value="{{request.POST.invoice_title_number}}">
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Created By</label>
                    <select name="created_by" id="created_by" class="assigned_users_ form-control">
                      <option value="">
                        ------------------</option>
                      {% for user in created_by_users %}
                      <option value="{{user.id}}" {% if user.id|slugify == request.POST.created_by %} selected=""
                        {% endif %}>
                        {{user.email}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Assigned Users</label>
                    <select class="assigned_users form-control" name="assigned_to" multiple="multiple">
                      {% for user in users %}
                      <option value="{{user.id}}" {% if user.id|slugify in assigned_to %} selected="" {% endif %}>
                        {% if user.username %}{{user.username}}{% else %}{{user.email}}{% endif %}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Status</label>
                    <select class="form-control" id="id_status" name="status">
                      <option value="">--Status of Invoice--</option>
                      {% for each_status in status %}
                      <option value="{{each_status.0}}" {% if request.POST.status %}
                        {% if each_status.0 == request.POST.status %}selected{% endif %}{% endif %}>
                        {{each_status.1}} </option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Total Amount</label>
                    <input type="number" class="form-control" placeholder="Total Amount" name="total_amount"
                      value="{{request.POST.total_amount}}">
                  </div>
                </div>
                <input type="hidden" name="tab_status" id="tab_status">
                <div class="filter_col col-2">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'invoices:invoices_list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="table_container_row row marl no-gutters">
      <div class="col-md-12">

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <span class="float-left">Invoices - {% if show_pageitems %}
                    {% show_pageitems %}{% else %}
                    {{ invoices|length }}{% endif %}</span>
                  <span class="filter_toggle">
                    <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                  </span>
                </div>
                <div class="table-responsive">
                  <table class="table ">
                    <thead>
                      {% if invoices|length > 0 %}
                      <tr>
                        <th width="5%">ID</th>
                        <th width="5%">Invoice Title</th>
                        <th width="5%">Invoice Number</th>
                        <th width="5%">Email</th>
                        <th width="5%">Status</th>
                        <th width="10%">Assigned To</th>
                        <th width="5%">Created by</th>
                        <th width="5%">Created On</th>
                        <th width="10%">Actions</th>
                      </tr>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% if per_page %}
                      {% paginate per_page invoices %}
                      {% else %}
                      {% paginate 10 invoices %}
                      {% endif %}
                      {% for invoice in invoices %}
                      {% if invoice.due_date < today %}
                      <tr class="text-center due_date">
                        <td scope="row" >{{ forloop.counter }}</td>
                        <td><a style="color: red;" href="#" data-toggle="modal" data-target="#exampleModalCenter_invoice{{invoice.id}}">
                            {{ invoice.invoice_title }} </a></td>
                        <td>{{ invoice.invoice_number }} </td>
                        <td>{{ invoice.email }} </td>
                        <td>{{ invoice.status }} </td>
                        <td>
                          {% with users=invoice.get_team_and_assigned_users %}
                          {% for user in users %}
                          {% if user.profile_pic %}
                          {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                              title="{{ user.email }}">
                          </a>
                          {% endthumbnail %}
                          {% else %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                          </a>
                          {% endif %}
                          {% empty %}
                          None
                          {% endfor %}
                          {% endwith %}
                        </td>
                        <td>
                          {% if invoice.created_by %}
                          {% if invoice.created_by.profile_pic %}
                          {% thumbnail invoice.created_by.profile_pic "40x40" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ invoice.created_by }}" style="border-radius: 50%" />
                          {% endthumbnail %}
                          {% else %}
                          <img src="{% static 'images/user.png' %}" alt="Micro profile pic"
                               style="width: 40px;height: 40px;border-radius: 50%;" title="{{ invoice.created_by }}" />
                          {% endif %}
                          {% else %}
                          None
                          {% endif %}
                        </td>
                        <td title="{{ invoice.created_on }}">{{ invoice.created_on_arrow }}</td>
                        <td class="actions">
                          <a href="{% url 'invoices:invoice_edit' invoice.id %}" class="btn btn-success edit" title="Edit"><i
                              class="fas fa-pencil-alt"></i></a>
                          {% if request.user == invoice.created_by or request.user.role == "ADMIN" or request.user.is_superuser %}
                          <a href="{% url 'invoices:invoice_details' invoice.id %}" class="btn btn-info edit" title="View"><i
                              class="fas fa-eye"></i></a>
                          <a href="{% url 'invoices:invoice_delete' invoice.id %}"
                            class="btn btn-danger delete remove_account" title="Delete" ><i class="fas fa-trash-alt"></i></a>
                          {% if invoice.is_draft %}
                          <a href="{% url 'invoices:invoice_send_mail' invoice.id %}" title="Send Mail"
                            class="btn btn-info to_send_mail"><i class="fas fa-paper-plane"></i></a>
                          {% endif %}
                          {% if invoice.is_sent == True %}
                          <a href="{% url 'invoices:invoice_send_mail' invoice.id %}" title="Re Send Mail"
                            class="btn btn-secondary to_re_send_mail"><i class="fas fa-paper-plane"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_paid' invoice.id %}" title="Paid"
                            class="btn btn-info to_paid"><i class="fas fa-check-square"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_cancelled' invoice.id %}" title="Cancel"
                            class="btn btn-danger to_cancel" style="background-color: red;"><i
                              class="fas fa-window-close"></i></a>
                          {% endif %}
                          {% if invoice.is_resent %}
                          <a href="{% url 'invoices:invoice_change_status_paid' invoice.id %}" title="Paid"
                            class="btn btn-info to_paid"><i class="fas fa-check-square"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_cancelled' invoice.id %}" title="Cancel"
                            class="btn btn-danger to_cancel" style="background-color: red;"><i
                              class="fas fa-window-close"></i></a>
                          {% endif %}
                          {% if invoice.is_paid_or_cancelled == True %}

                          {% endif %}
                          {% endif %}
                        </td>
                      </tr>
                      {% else %}
                      <tr class="text-center">
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><a href="#" data-toggle="modal" data-target="#exampleModalCenter_invoice{{invoice.id}}">
                            {{ invoice.invoice_title }} </a></td>
                        <td>{{ invoice.invoice_number }} </td>
                        <td>{{ invoice.email }} </td>
                        <td>{{ invoice.status }} </td>
                        <td>
                          {% with users=invoice.get_team_and_assigned_users %}
                          {% for user in users %}
                          {% if user.profile_pic %}
                          {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                              title="{{ user.email }}">
                          </a>
                          {% endthumbnail %}
                          {% else %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                          </a>
                          {% endif %}
                          {% empty %}
                          None
                          {% endfor %}
                          {% endwith %}
                        </td>
                        <td>
                          {% if invoice.created_by %}
                          {% if invoice.created_by.profile_pic %}
                          {% thumbnail invoice.created_by.profile_pic "40x40" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ invoice.created_by }}" style="border-radius: 50%" />
                          {% endthumbnail %}
                          {% else %}
                          <img src="{% static 'images/user.png' %}" alt="Micro profile pic"
                               style="width: 40px;height: 40px;border-radius: 50%;" title="{{ invoice.created_by }}" />
                          {% endif %}
                          {% else %}
                          None
                          {% endif %}
                        </td>
                        <td title="{{ invoice.created_on }}">{{ invoice.created_on_arrow }}</td>
                        <td class="actions">
                          <a href="{% url 'invoices:invoice_edit' invoice.id %}" class="btn btn-success edit" title="Edit"><i
                              class="fas fa-pencil-alt"></i></a>
                          {% if request.user == invoice.created_by or request.user.role == "ADMIN" or request.user.is_superuser %}
                          <a href="{% url 'invoices:invoice_details' invoice.id %}" class="btn btn-info edit" title="View" ><i
                              class="fas fa-eye"></i></a>
                          <a href="{% url 'invoices:invoice_delete' invoice.id %}"
                            class="btn btn-danger delete remove_account" title="Delete"><i class="fas fa-trash-alt"></i></a>
                          {% if invoice.is_draft %}
                          <a href="{% url 'invoices:invoice_send_mail' invoice.id %}" title="Send Mail"
                            class="btn btn-info to_send_mail"><i class="fas fa-paper-plane"></i></a>
                          {% endif %}
                          {% if invoice.is_sent == True %}
                          <a href="{% url 'invoices:invoice_send_mail' invoice.id %}" title="Re Send Mail"
                            class="btn btn-secondary to_re_send_mail"><i class="fas fa-paper-plane"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_paid' invoice.id %}" title="Paid"
                            class="btn btn-info to_paid"><i class="fas fa-check-square"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_cancelled' invoice.id %}" title="Cancel"
                            class="btn btn-danger " style="background-color: red;"><i
                              class="fas fa-window-close to_cancel"></i></a>
                          {% endif %}
                          {% if invoice.is_resent %}
                          <a href="{% url 'invoices:invoice_change_status_paid' invoice.id %}" title="Paid"
                            class="btn btn-info to_paid"><i class="fas fa-check-square"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_cancelled' invoice.id %}" title="Cancel"
                            class="btn btn-danger to_cancel" style="background-color: red;"><i
                              class="fas fa-window-close"></i></a>
                          {% endif %}
                          {% if invoice.is_paid_or_cancelled == True %}

                          {% endif %}
                          {% endif %}
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {%if invoices|length == 0%}
                <h6 class="text-center">No Invoices Found</h6>
                {%endif%}
                <div class="marl row text-center">
                  {% show_pages %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>