{% extends 'root.html' %}
{% load static %}
{% load thumbnail %}
{% block extralinks %} 
<style>
  .text_ellipsis {
    width: 16em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
{% endblock %}
{% block content %}
{% load common_tags %}

{% include 'sales/partial.html' %}

{% endblock %}
{% block js_block %}
<script type="text/javascript">

  $(document).ready(function () {
    $(".tag_class_opp").click(function () {
      // $(".tag_class_opp").css('cursor', 'pointer')
      url = "{% url 'opportunity:list' %}"
      url = url + "?tag=" + $(this).attr('data-link')
      window.location.href = url;
    });

    $(".tag_class_acc").click(function () {
      // $(".tag_class_acc").css('cursor', 'pointer')
      url = "{% url 'accounts:list' %}"
      url = url + "?tag=" + $(this).attr('data-link')
      window.location.href = url;
    });

  });

</script>
{% endblock js_block %}