{% load i18n %}

<div class="main_container">
    {% component_block "filter" id="teams_filter" label="Filters" btn_new_text='Add New Team' clear_action='teams:teams_list' %}
        {% fill "detail" %}
            <div class="filter_col col-md-2">
                {% component "input" id="team_name" type="text" name="team_name" placeholder="Team Name" label="Team Name" value=request.POST.team_name|default_if_none:"" %}
            </div>
            <div class="filter_col col-md-2">
                {% component "select-created-by" label="Created By" id="created_by" %}
                {% component_js_dependencies %}
            </div>
            <div class="filter_col col-md-2">
                {% component "select-assigned-to" label="Assigned Users" id="assigned_to" %}
                {% component_js_dependencies %}
            </div>
        {% endfill %}
    {% endcomponent_block %}

    {% component_block "table" obj=teams id="teams_table" label="Teams" not_found_msg="No Teams Found" %}
        {% fill "header" %}
            {% if teams|length > 0 %}
                <tr>
                    <th width="5%">{% trans 'ID' %}</th>
                    <th width="5%">{% trans 'Team Name' %}</th>
                    <th width="15%">{% trans 'Team Description' %}</th>
                    <th width="10%">{% trans 'Assigned To' %}</th>
                    <th width="5%">{% trans 'Created by' %}</th>
                    <th width="5%">{% trans 'Created On' %}</th>
                    <th width="10%"{% trans 'Actions' %}></th>
                </tr>
            {% endif %}
        {% endfill %}

        {% fill "data-target" %}
            {% for team in teams %}
                {% component_block "modal-form" obj=team %}
                    {% fill "body" %}
                        <div class="col-md-8">
                        {% if team.name %}
                        {% endif %}
                        {% if team.description %}
                            <div class="filter_col col-md-12">
                                {% component_css_dependencies %}
                                {% component "label" id="team_description" label="Description" value=team.description|default_if_none:"" %}
                            </div>
                        {% endif %}

                        <div class="filter_col col-md-12">
                            {% component_css_dependencies %}
                            <div class="form-group">
                                <label class="contact_field_label" for="id_status"
                                       data-name="status">
                                    Assigned To
                                </label>
                                <br>
                                {% component "assigned-to" users=team.users href='common:view_user' %}
                            </div>
                        </div>

                        <div class="filter_col col-md-12">
                            <div class="form-group mt-3">
                                <label class="contact_field_label" for="id_created_by"
                                       data-name="created_by">
                                    Created By
                                </label>
                                {% component "created-by" obj=team %}
                            </div>
                        </div>

                        <div class="filter_col col-md-12">
                            <div class="form-group">
                                <label class="contact_field_label" for="id_created_on"
                                       data-name="created_on">Created On
                                </label>
                                <div class="contact_field" id="created_on"
                                     data-name="created_on" title="{{ obj.created_on }}">
                                    {{ obj.created_on_arrow }}</div>
                            </div>
                        </div>


                    {% endfill %}
                {% endcomponent_block %}
            {% endfor %}
        {% endfill %}

        {% fill "body" %}
            {% for team in teams %}
                <tr class="text-center">
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#modal_form_{{ team.id }}">
                            {{ team.name }}
                        </a>
                    </td>
                    <td class="">
                        {% if team.description %}
                            {{ team.description }}
                        {% else %}
                            {% trans 'None' %}
                        {% endif %}
                    </td>
                    <td>
                        {% component "assigned-to" users=team.users href='common:view_user' %}
                    </td>
                    <td>
                        {% component "created-by" obj=team %}
                    </td>
                    <td title="{{ team.created_on }}">{{ team.created_on_arrow }}</td>
                    <td class="actions">
                        {% if request.user == team.created_by or request.user.role == 'ADMIN' or reques.user.is_superuser %}
                            {% component "btn-view" href='teams:team_detail' uri=team.id %}
                            {% component "btn-edit" href='teams:team_edit' uri=team.id %}
                            {% component "btn-delete" href='teams:team_delete' uri=team.id %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfill %}
    {% endcomponent_block %}
    </div>