<script type="text/javascript">
  $(document).ready(function () {
    $('#id_tag').select2();
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
  });


  {% comment %}
  search = "{{search}}"

  if (search == 'True') {
      console.log('list_filter_row: ', $(".list_filter_row"))
    $(".list_filter_row").show();
  }

  $('.delete').click(function (e) {
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $("a[rel='page']").click(function (e) {
    e.preventDefault();
    $('#leads_filter').attr("action", $(this).attr("href"));
    $('#leads_filter').submit();
  });
  {% endcomment %}

</script>
