<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.assigned_users').select2();
        $('#id_tag').select2();
        $('#created_by').select2();
        $(".filter_toggle").click(function () {
            $(".list_filter_row").toggle();
        });
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#date_of_meeting').datetimepicker({
            'format': 'YYYY-MM-DD',
            minDate: today
        })
    });

    search = "{{search}}"

    if (search == 'True') {
        $(".list_filter_row").show();
    }

    $("#close-tab").click(function (e) {
        $("#tab_status").val('Closed')
    })

    $("#open-tab").click(function (e) {
        $("#tab_status").val('Open')
    })

    tab_status = "{{tab_status}}"
    if (tab_status == 'Closed') {
        $("#close-tab").click()
    } else {
        $("#open-tab").click()
    }

    $('.delete').click(function (e) {
        e.preventDefault()
        url = $(this).attr('href')
        if (!confirm('Are you sure you want to delete?'))
            return;
        window.location = $(this).attr('href')
    });

    $("a[rel='page']").click(function (e) {
        e.preventDefault();
        $('#leads_filter').attr("action", $(this).attr("href"));
        $('#leads_filter').submit();
    });
</script>
