{% load static %}
{% load compress %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ settings.APPLICATION_NAME }}</title>
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />

  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
  {# Select2 CDN  #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/start/jquery-ui.css" />

  <!-- Load jquery before calls from components -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js" integrity="sha512-teGKRDIINyavMA8HWd2it9556yHW6RLuay1xk3s/d87nSU/GGFgt4DNwmAhrZUdpKtgTQCdISUvA0sZqrLpczg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Load from unpkg -->
  <script src="https://unpkg.com/htmx.org@1.9.8"></script>

  <style>
    .card-body {
      padding:0;
      margin:0
    }
    .select2-container--default .select2-results__option[aria-disabled=true] {
      display: none;
    }
  </style>

  {% compress css %}
  <link href="{% static 'css/main.scss' %}" type="text/x-scss" rel="stylesheet">
  <link href="{% static 'css/mention.scss' %}" type="text/x-scss" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap-suggest.css' %}">
  {% endcompress %}

  {% block extralinks %} {% endblock %}
</head>

<body class="main_body_bg_color">
  <div class="wrapper">
    {% block header %}
        {% include 'root_header.html' %}
    {% endblock %}

    <div id="mainbody" class="main_container" style="margin-top:65px;">
      {% block breadcrumb %}{% endblock %}

        <div id="main_content">
            {% block content %}{% endblock %}
        </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

  <script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>

  <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

  <script src="{% static 'js/ajaxForm.js' %}"></script>
  {# Select2 CDN  #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js" integrity="sha256-IkytFcY/Z/rLvRE9rYyZvybaitAWr1y2jS/+eyxXky8=" crossorigin="anonymous"></script>
  <script src="https://malsup.github.io/jquery.form.js"></script>

{#<script src="http://cdn.ckeditor.com/4.5.4/basic/ckeditor.js"></script>#}

  <script src="{% static 'js/bootstrap-suggest.js' %}"></script>

  {% block js_block %}{% endblock js_block %}
  <script type="text/javascript">
    $(document).ready(function () {
      word = window.location.pathname.split('/')[1];
      if (word == "") {
        $("#dashboard").addClass('active');
      }
      else {
        $('#' + word).addClass('active');
      }
      marketing_word = window.location.pathname.split('/')[2];
      if (marketing_word == "") {
        $("#marketing-dashboard").addClass('active');
      }
      // console.log(marketing_word.substring(0,7) === 'contact');
      else if (marketing_word.substring(0, 7) === "contact") {
        $("#contact").css({ 'border-bottom': '3px solid #099CBE,' });
        $(".contact_class").css('border-bottom', '3px solid #099CBE');
        marketing_word = window.location.pathname.split('/')[2]
        // console.log(marketing_word)
        // console.log(marketing_word == 'contact-list')
        // console.log(marketing_word == 'contacts')
        if (marketing_word == 'contact-list') {
          $(".contact-list").css('background', '#e5e5e5');
        }
        if (marketing_word == 'contacts') {
          $(".contacts").css('background', '#e5e5e5');
        }
      }
      else {
        $('#' + marketing_word).addClass('active')
      }
    });

  </script>
</body>

</html>