<div class="filter_container">

    {% component 'btn-text' href='teams:team_create' label=btn_new_text %}

    <div class="filter-component filter_row list_filter_row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form id="{{ id }}" action="" method="POST">
                        <div class="card-body ">
                            <div class="card-title">{{ label }}</div>
                            <div class="row marl">
                                {% slot "detail" %} {% endslot %}
                                {% slot "action" %}
                                    <div class="filter_col col-2">
                                        <div class="form-group buttons_row">
                                            {% component 'btn-submit' %}
                                            {% component 'btn-clear' href=clear_action %}
                                        </div>
                                    </div>
                                {% endslot %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>